<!-- Signup Page -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head") %>

  <body>
    <!-- Navbar -->

    <%- include("partials/navbar") %>

    <!-- Register Section -->

    <section id="register">
      <div class="container-fluid">
        <div class="register-form card shadow">
          <form action="" method="POST" onsubmit="signup()">

            <div class="row">
              <div class="data-col col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <h1 class="sign-up-header">Registrar</h1>
                <% if(recaptcha) { %>
                  <%- recaptcha %>
                <%}%>
                <div class="register-data">
                  <i class="fas fa-user fa-lg"></i>
                  <div class="flex-fill">
                    <input type="text" name="name" id="name" class="form-control" required />
                    <label class="form-label" for="name">Nome completo</label>
                  </div>
                </div>

                <div class="register-data">
                  <i class="fa-solid fa-id-card"></i>
                  <div class="flex-fill">
                    <input type="text" name="cpf" id="cpf" class="form-control" required />
                    <label class="form-label" for="cpf">CPF</label>
                  </div>
                </div>

                <div class="register-data">
                  <i class="fas fa-lock fa-lg"></i>
                  <div class="flex-fill">
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="form-control"
                      required
                    />
                    <label class="form-label" for="password">Senha</label>
                  </div>
                </div>
                <div class="register-data">
                  <i class="fa fa-key fa-lg"></i>
                  <div class="flex-fill">
                    <p>Onde você deseja gerar e armazenar a sua chave privada?</p>
                    <input type="radio" name="save-key" id="saveKeyOnServer" checked>
                    <label for="yes">Desejo gerar e armazenar minha chave na Carbono 21 </label><br>
                    <input type="radio" name="save-key" id="saveKeyOnClient">
                    <label for="no">Desejo gerar e armazenar minha chave no meu computador</label><br>
                  </div>
                </div>



                <!-- oninput="const initTime=performance.now();argon2.hash({ pass: password.value, salt: salt.value.slice(0, -1), hashLen: 32, type:argon2.ArgonType.Argon2id, time: 3, mem:16384, parallelism: 1 }).then(h =>
                      hashedPassword.value = h.hashHex).then(()=>hashTime.value=performance.now()-initTime).catch(e => console.error(e.message, e.code));" -->

                <div class="form-check">
                  <input
                    type="checkbox"
                    name="tos"
                    value=""
                    id="tos"
                    class="form-check-input"
                    required
                    checked
                  />
                  <label class="form-check-label"
                    >Concordo com os <a href="#!">termos de serviço</a></label
                  >
                </div>

                <!--get email, pass it to the server again -->
                <input type="text" name="email" id="email" hidden value="<%= email %>"/>

                <!--get salt, use it on client's PHS -->
                <input type="text" name="salt" id="salt" hidden value='<%= salt %>'/>
                

                <!--each time the user type in the password field, update this with the hash of the input -->
                <!-- <input type="text" name="hashedPassword" id="hashedPassword" hidden/> -->

                <!--each time the user type in the password field, update this with the time it took to perform the hash -->
                <!-- <input type="text" name="hashTime" id="hashTime" hidden/> -->


                <div class="register-button">
                  <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                </div>

              </div>

              <div class="col-md-10 col-lg-6 col-xl-7 order-1 order-lg-2 carbon-logo-container">
                <img
                  src="../images/carbono21.webp"
                  class="img-fluid carbon-logo"
                  alt="Carbono 21 logo"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <script src="/scripts/bundles/argon2-bundled.min.js"></script>
    <script src="/scripts/validateForms.js"></script>
    <script src="/scripts/bundles/auth-bundle.js"></script>
  </body>
</html>